.projets {
  height: 520px;
  width: 510px;
  border-radius: 15px;
  color: rgb(215, 208, 208);
  margin-bottom: 30px;
  transition: all 0.3s;
}

.projets > p {
  padding: 12px 10px;
  letter-spacing: 1.1px;
  font-family:'Times New Roman', Times, serif;
  font-size: 18.5px;
  text-align: justify;
}

.projets > img {
  height: 80%;
  width: 100%;
  border-radius: 15px;
  transition: all 0.3s;
}

.projets > img:hover {
    box-shadow:   0 0 10px 5px rgba(224, 216, 216, 0.262);
  }

@media screen and (max-width: 680px) {
  .projets {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 580px) {
  .projets {
    height: 200px;
    width: 200px;
  }

}
@media screen and (max-width: 620px) {
  .projets {
    margin-bottom: 150px;
  }

 
}
